# Rendered runtime config

IMAGE_NAME=mathorcup-runtime:latest
COMPETITION_NAME={{COMPETITION_NAME}}
CONTAINER_NAME={{CONTAINER_NAME}}
JUPYTER_PORT=8888
RSTUDIO_PORT=8787
JUPYTER_TOKEN=mathorcup
CONTAINER_RUNTIME={{CONTAINER_RUNTIME}}
CONTAINER_GPUS={{CONTAINER_GPUS}}
CONTAINER_PRIVILEGED={{CONTAINER_PRIVILEGED}}
CONTAINER_USER={{CONTAINER_USER}}
CONTAINER_GRANT_SUDO={{CONTAINER_GRANT_SUDO}}
HOST_DIR={{HOST_DIR}}
HOST_PROJECT_DIR={{HOST_DIR}}/project
