# Rendered runtime config

IMAGE_NAME=math-modeling-competition:latest
COMPETITION_NAME={{COMPETITION_NAME}}
CONTAINER_NAME={{CONTAINER_NAME}}
JUPYTER_PORT=8888
RSTUDIO_PORT=8787
JUPYTER_TOKEN=mathorcup
HOST_DIR={{HOST_DIR}}
HOST_PROJECT_DIR={{HOST_DIR}}/project
