# Active paper build profile

PAPER_HOST_REL_DIR=project/paper
PAPER_CONTAINER_DIR=/workspace/mathorcup/paper
PAPER_ACTIVE_ENTRYPOINT=main.tex
PAPER_BUILD_DIR=
PAPER_LATEX_ENGINE=xelatex
PAPER_RUN_BIBER=1
PAPER_BUILD_PASSES=2
PAPER_TEXINPUTS=
PAPER_ACCEPT_PDF=project/paper/main.pdf
PAPER_ACCEPT_LOG=project/paper/main.log
PAPER_ACCEPT_AUX=project/paper/main.aux
